
 <p>this is the area for comments</p>


<div class="comment-container">

    <h3>Comments</h3>


    <div class="comments-list" id="comments-list">

        <div class="new-comment-box">
            <div class="flex-col mb">
                <input type="hidden" name="parentcomment" id="parentcomment" value="">
                <label for="txtNewComment">Leave your comment:</label>
                <input type="text" name="commentText" id="txtNewComment" required>
            </div>
            <div class="flex-row justify-sb align-center">
                <button id="new-comment-submit">Submit</button>
            </div>
        </div>



{{#if commentlist}}
    <br>

  {{#each commentlist}}
    <div class="comments-level-0">
        <div class="comment-body" userID="{{authorID}}" commentID="{{commentID}}">
            <h5 class="comment-title">Name: {{authorID}}</h5>
            <h6 class = "comment-datetime text-muted">Date: {{commentDate}}</h6>
            <p>{{commentText}} </p>
            <div class="vote-container">
            <img src="/images/upvote.png" class="vote-icon" voteType="Upvote">
                <span class="upvote-count">0</span>
                &emsp;
            <img src="/images/downvote.png" class="vote-icon" voteType="Downvote">
                <span class="downvote-count">0</span>
            </div>

            <div class="commentreply-delete">
            <button class="comment-reply">Reply</button>
                <p id="commentreply"></p>
            <button class="comment-delete">Delete</button>
                <p id="commentdelete"></p>
            </div>
        </div>

    

    {{#each children}}

        <div class="comments-level-1">
        <div class="comment-body" userID="{{authorID}}" commentID="{{commentID}}">
            <h5 class="comment-title">Name: {{commentID}}</h5>
            <h6 class = "comment-datetime text-muted">Date: {{commentDate}}</h6>
            <p>{{commentText}} </p>

           <div class="vote-container">
            <img src="/images/upvote.png" class="vote-icon" voteType="Upvote">
                <span class="upvote-count">0</span>
            <img src="/images/downvote.png" class="vote-icon" voteType="Downvote">
                <span class="downvote-count">0</span>
            </div>

                        <div class="commentreply-delete">
            <button class="comment-reply">Reply</button>
                <p id="commentreply"></p>
            <button class="comment-delete">Delete</button>
                <p id="commentdelete"></p>
            </div>
        </div>
    
    
    {{#each children}}

        <div class="comments-level-2">
        <div class="comment-body" userID="{{authorID}}" commentID="{{commentID}}">
            <h5 class="comment-title">Name: {{commentID}}</h5>
            <h6 class = "comment-datetime text-muted">Date: {{commentDate}}</h6>
            <p>{{commentText}} </p>

           <div class="vote-container">
            <img src="/images/upvote.png" class="vote-icon" voteType="Upvote">
                <span class="upvote-count">0</span>
            <img src="/images/downvote.png" class="vote-icon" voteType="Downvote">
                <span class="downvote-count">0</span>
            </div>

                        <div class="commentreply-delete">
            <button class="comment-reply">Reply</button>
                <p id="commentreply"></p>
            <button class="comment-delete">Delete</button>
                <p id="commentdelete"></p>
            </div>
        </div>
    </div>

    {{/each}}
</div>

    {{/each}}
    </div>
    
    {{/each}}

{{!-- 
    {{else}}



        <p>No comments yet!</p>
                <div class="new-comment-box">
                <div class="flex-col mb">
                    <input type="hidden" name="parentcomment" id="parentcomment" value="">
                    <label for="txtNewComment">Leave your comment:</label>
                    <input type="text" name="commentText" id="txtNewComment" required>
                </div>
                <div class="flex-row justify-sb align-center">
                    <button id="new-comment-submit">Submit</button>
                </div>
            </div>
 --}}

    {{/if}}
</div>
</div>