
 <p>this is the area for comments</p>


<div class="comment-container">

{{#if commentlist}}

    <div class="comments-list" id="comments-list">

    <h3>Comments</h3>

  {{#each commentlist}}
    <div class="comments-level-1">
        <div class="comment-body {{authorID}}" id="{{commentID}}">
            <h5 class="comment-title">Name: {{authorID}}</h5>
            <h6 class = "comment-datetime text-muted">Date: 2021-05-21</h6>
            <p>{{commentText}} </p>
            <div class="vote-buttons" >
            <button class="vote-up">Upvote</button>
                <p id="upvote"></p>
            <p class="vote-sum">1</p>
            <button class="vote-down">Downvote</button>
                <p id="downvote"></p>
            </div>

            <div class="commentreply-delete">
            <button class="comment-reply">Reply</button>
                <p id="commentreply"></p>
            <button class="comment-delete">Delete</button>
                <p id="commentdelete"></p>
            </div>
        </div>

    

    {{#each children}}

        <div class="comments-level-2">
        <div class="comment-body" id="{{commentID}}">
            <h5 class="comment-title">Name: {{commentID}}</h5>
            <h6 class = "comment-datetime text-muted">Date: 2021-05-21</h6>
            <p>{{commentText}} </p>

            <div class="vote-buttons">
            <button class="vote-up">Upvote</button>
                <p id="upvote"></p>
            <p class="vote-sum">1</p>
            <button class="vote-down">Downvote</button>
                <p id="downvote"></p>
            </div>

                        <div class="commentreply-delete">
            <button class="comment-reply">Reply</button>
                <p id="commentreply"></p>
            <button class="comment-delete">Delete</button>
                <p id="commentdelete"></p>
            </div>
        </div>
    
    
    {{#each children}}

        <div class="comments-level-3">
        <div class="comment-body" id="{{commentID}}">
            <h5 class="comment-title">Name: {{commentID}}</h5>
            <h6 class = "comment-datetime text-muted">Date: 2021-05-21</h6>
            <p>{{commentText}} </p>

            <div class="vote-buttons">
            <button class="vote-up">Upvote</button>
                <p id="upvote"></p>
            <p class="vote-sum">1</p>
            <button class="vote-down">Downvote</button>
                <p id="downvote"></p>
            </div>

                        <div class="commentreply-delete">
            <button class="comment-reply">Reply</button>
                <p id="commentreply"></p>
            <button class="comment-delete">Delete</button>
                <p id="commentdelete"></p>
            </div>
        </div>
    </div>

    {{/each}}
</div>

    {{/each}}
    </div>
    
    {{/each}}

    <br>

    <div class="new-comment-box">
        <div id="make-comment">
            <form action="./newComment" method="POST">
                <div class="flex-col mb">
                    <label for="txtComment">Leave your comment:</label>
                    <input type="text" name="commentText" id="txtComment" required>
                </div>
                
                <div class="flex-row justify-sb align-center">
                <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    </div>
    {{else}}
        <p>No comments yet!</p>
    {{/if}}



    {{!-- add comments --}}

</div>