{{#if user}}
{{> user-navi-bar }}
{{else}}
{{> default-navi-bar }}
{{/if}}

{{#if message}}
<p>{{message}} {{user.username}}</p>
{{/if}}


    <div class="grid-container">
        <div id="articles" class="panel">
            <h2>Articles</h2>
            {{#if searchingWarning}}
            <p>{{searchingWarning}}</p>
            {{/if}}
    
            <!-- Loaded articles should appear here -->
            <div id="articles-inner"></div>
    
            <div id="article-load-button" class="article-load button">Load more articles</div>
        </div>    
        {{> sorting-column }}
    </div>

    
{{!-- hidden element stores information about sorting attributes --}}
<div class="sorting-info-container" hidden=true>
    <span class="sorting-attribute">{{attribute}}</span> 
    <span class="sorting-order">{{order}}</span> 
</div>

    
</div>

