

{{#if user}}
{{> user-navi-bar }}
{{else}}
{{> default-navi-bar }}
{{/if}}

{{> sorting-column}}

<div class="message">
    {{#if message}}
    <p>{{message}} {{user.username}}</p>
    {{/if}}
</div>




<div class="grid-container">
    <div id="articles">
        {{#if searchingWarning}}
        <p>{{searchingWarning}}</p>
        {{/if}}

        <!-- Loaded articles should appear here -->
        <div id="articles-inner"></div>
        <div id="article-load-button" class="article-load button">Load more articles</div>
    </div>

</div>

{{!-- hidden element stores information about sorting attributes --}}
<div class="sorting-info-container" hidden=true>
    <span class="sorting-attribute">{{attribute}}</span>
    <span class="sorting-order">{{order}}</span>
    <span class="sorting-filter-Name">{{filterName}}</span>
    <span class="sorting-filter">{{filter}}</span>
    <span class="sorting-userID">{{LoginedUserID}}</span>
</div>
